/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* === ADD THESE CUSTOM STYLES FOR PROSE LINKS === */
.prose a {
  @apply text-brand-primary font-medium no-underline transition-colors;
}

.prose a:hover {
  @apply underline;
}

.yt-embed {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.fb-video-wrapper {
  max-width: 560px; /* Sets the max size of the video */
  margin-left: auto;
  margin-right: auto;
}

.fb-video-wrapper iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 560 / 440;
}

#cart-drawer.is-loading .quantity-btn,
#cart-drawer.is-loading .remove-btn,
#cart-drawer.is-loading .quantity-input {
    pointer-events: none;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

/* Hide the default arrows (spinners) on number inputs for Chrome, Safari, Edge */
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the default arrows on number inputs for Firefox */
.quantity-input[type=number] {
  -moz-appearance: textfield;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}

.animate-shake {
  animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
}