---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Contact | Camphora Studio">
  <main class="py-20">
    <div class="max-w-3xl mx-auto px-4 text-center">
      <h1 class="font-heading text-4xl font-bold mb-6 text-brand-primary">Get In Touch</h1>
      <p class="text-lg text-gray-700">
        Under contstruction
    </div>
  </main>
</Layout>